<ion-header>
  <ion-navbar color="primary">
      <ion-title><img src="assets/imgs/bannerlogo.png" style="display:inline-block" alt="logo"/></ion-title>
  </ion-navbar>
  <ion-toolbar>
      <div text-center style="font-size: 1.8rem">About This App</div> 
  </ion-toolbar>
</ion-header>


<ion-content padding>
<p>This app uses the Adobe Analytics Admin API to store variable settings on your phone for easy reference. <i>Note: this app only observes your current settings- it won't be useful if you want to change or copy settings.</i></p>
<p>For a shortcut to make it easier to transfer credentials to this app, visit <a href="https://www.digitalDataTactics.com/pocketSDR/?cid=pocketSDR">digitalDataTactics.com/pocketSDR/</a> (ideally, on a non-mobile browser). </p>
<!--
<p>You may also enjoy my <a href="http://digitaldatatactics.com/beaconParser/?cid=pocketSDR">Beacon Parser</a> tool or <a href="http://digitaldatatactics.com/?cid=pocketSDR">my blog</a>.</p>
<p>Have feedback? Email me at pocketSDR@digitalDataTactics.com.</p>
{title:"What else have you created?", answer:"You may also enjoy my <a href='http://digitaldatatactics.com/beaconParser/?cid=pocketSDR'>Beacon Parser</a> tool or <a href='http://digitaldatatactics.com/?cid=pocketSDR'>my blog</a>."},
{title:"Who do I give my feedback to?", answer:"Have feedback? Email me at pocketSDR@digitalDataTactics.com."}
]-->
<ion-list>

    <button ion-item detail-none (click)="showPicTutorial()"><h3>How do I get my API credentials?</h3><ion-icon name="help-circle" item-end color="primary"></ion-icon></button>

    <button ion-item detail-none (click)="selectItem('question1')"><h3>Who are you?</h3><ion-icon [name]="question1 ? 'arrow-down' : 'arrow-forward'" item-end></ion-icon></button>
    <ion-item no-lines text-wrap *ngIf="question1===true"><p>PocketSDR was created as an amateur development project by Jenn Kunz of <a href='http://www.digitaldatatactics.com/?cid=pocketSDR'>digitalDataTactics.com</a></p></ion-item>

    <button ion-item detail-none (click)="selectItem('question2')"><h3>Why did you create it?</h3><ion-icon [name]="question2 ? 'arrow-down' : 'arrow-forward'" item-end></ion-icon></button>
    <ion-item no-lines text-wrap *ngIf="question2===true"><p>I had three main goals:</p>
        <div class="classic-list">
            <ul>
              <li><p>Make it easier for folks to look up a variable's purpose and settings, without going to the Admin Console or documentation.</p></li>
              <li><p>Give me an example to reference to show how to implement DTM in an Angular framework.</p></li>
              <li><p>Give me some hands-on experience implementing Lifecycle Metrics in a mobile app.</p></li>
            </ul>
          </div>
        
    </ion-item>

    <button ion-item detail-none (click)="selectItem('question3')"><h3>How did you do it?</h3><ion-icon [name]="question3 ? 'arrow-down' : 'arrow-forward'" item-end></ion-icon></button>
    <ion-item text-wrap *ngIf="question3===true"><p>This iteration was created using the <a href='https://ionicframework.com/'>Ionic 3 framework</a>. Analytics tracking was implemented using both the Adobe Analytics SDK and Adobe Dynamic Tag Manager. This app is <a href='https://github.com/jkunz/pocketSDR'>open-source</a>. Feel free to see if you can improve on it.</p></ion-item>

    <button ion-item detail-none (click)="selectItem('question4')"><h3>What else have you created?</h3><ion-icon [name]="question4 ? 'arrow-down' : 'arrow-forward'" item-end></ion-icon></button>
    <ion-item text-wrap *ngIf="question4===true"><p>You may also enjoy my <a href='http://digitaldatatactics.com/beaconParser/?cid=pocketSDR'>Beacon Parser</a> tool or <a href='http://digitaldatatactics.com/?cid=pocketSDR'>my blog</a>.</p></ion-item>

    <button ion-item detail-none (click)="selectItem('question5')"><h3>Who do I give my feedback to?</h3><ion-icon [name]="question5 ? 'arrow-down' : 'arrow-forward'" item-end></ion-icon></button>
    <ion-item text-wrap *ngIf="question5===true"><p>Email me at pocketSDR@digitalDataTactics.com.</p></ion-item>

  </ion-list>


<p><i>This app is not officially affiliated with Adobe in any way.</i></p>
</ion-content>
