<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            PocketSDR
        </ion-title>
        <button ion-button menuToggle right>
          <ion-icon name="menu"></ion-icon>
        </button>
        <!-- TODO: add help 
        <button ion-button helpToggle left><ion-icon name="help"></ion-icon></button>
        -->
    </ion-toolbar>
    <ion-navbar>
        <ion-title>Company Selection</ion-title> 
    </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="companies">
    <ion-item-sliding *ngFor="let company of companies" #slidingItem>
      <ion-item (click)="goToRsSelect(company)">
        {{company}}
      </ion-item>
      <ion-item-options>
        <button danger (click)="deleteItem(company,slidingItem)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div class="padding" *ngIf="!companiesShown"><p>You haven't set up any companies yet.</p>
   <button ion-button secondary [navPush]="companyLoginPage">
        Log in to a company
      </button>
  </div>
</ion-content>
