<ion-header>
  <ion-navbar color="primary">
      <ion-buttons start>
        <button ion-button left (click)="showTutorial()">
          <ion-icon name="help-circle"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
          PocketSDR
      </ion-title>
      <button ion-button menuToggle right>
        <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>
  <ion-toolbar>
      <div text-center style="font-size: 1.8rem"><i>{{this.currentCompany}}</i>: Report Suites</div> 
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list> 
      <ion-item-sliding *ngFor="let rs of listSuites" #slidingItem>
      <ion-item  (click)="clickRS(rs.rsid)">
          <h2 class="story-title">{{rs.site_title}}</h2> 
          <p>{{rs.rsid}}</p> 
          <p><span *ngIf="rs.lastUpdated"><i>Last updated: {{rs.lastUpdated}}</i></span><span *ngIf="!rs.lastUpdated"><i>Never updated in this app</i></span></p>
      </ion-item><ion-item-options>
      <button ion-button (click)="refreshItem(rs.rsid)">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer no-border>
  <ion-searchbar
      [showCancelButton]="shouldShowCancel"
      (ionInput)="getItems($event)"
      (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-footer>