// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.classic-list {
  width: 90%;
  margin: 10px auto;
}
.classic-list ul {
  margin-top: 10px;
}
.classic-list ul li {
  text-align: left; 
  list-style: disc;
  margin: 10px 0px;
}
.italic{
	font-style:italic;
}

.pretend-input{
	padding-left:0px !important;
}

#crumbs {
	text-align: center;
	width:100%
}
	#crumbs ul {
		list-style: none;
		display: inline-table;
	}
		#crumbs ul li {
			display: inline;
		}
	
		#crumbs ul li a {
			display: block;
			float: left;
			height: 34px;
			text-align: center;
			padding: 8px 2px 0 20px;
			position: relative;
			margin: 0 6px 0 0; 
			font-size: 16px;
			text-decoration: none;
			color: #fff;
		}
			#crumbs ul li a:after {
				content: "";  
				border-top: 17px solid transparent;
				border-bottom: 17px solid transparent;
				position: absolute; right: -14px; top: 0;
				z-index: 1;
			}

			#crumbs ul li:first-child a {
				background: #3366ff;
			}

			#crumbs ul li:first-child a:after {
				border-left: 15px solid #3366ff;
			}

			#crumbs ul li:nth-child(2) a {
				background: #0039e6;
			}

			#crumbs ul li:nth-child(2) a:after {
				border-left: 15px solid #0039e6;
			}

			#crumbs ul li:nth-child(3) a {
				background: #002db3;
			}
			
			#crumbs ul li a:before {
				content: "";  
				border-top: 17px solid transparent;
				border-bottom: 17px solid transparent;
				border-left: 15px solid #fff;
				position: absolute; left: 0; top: 0;
			}
	
				#crumbs ul li:first-child a {
					border-top-left-radius: 10px; border-bottom-left-radius: 10px;
				}
				#crumbs ul li:first-child a:before {
					display: none; 
				}
				
				#crumbs ul li:last-child a {
					padding-right: 10px;
					border-top-right-radius: 10px; border-bottom-right-radius: 10px;
				}
				#crumbs ul li:last-child a:after {
					display: none; 
				}
		
.popover {
    height: auto !important;
}
.popover ion-header-bar {
    position: relative;
}
.popover ion-content {
    top: 0;
    position: relative;
}