<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            PocketSDR
        </ion-title>
        <button ion-button left>
          <ion-icon name="help-circle" (click)="showTutorial()"></ion-icon>
        </button>
        <button ion-button menuToggle right>
          <ion-icon name="menu"></ion-icon>
        </button>
        <!-- TODO: add help 
        <button ion-button helpToggle left><ion-icon name="help"></ion-icon></button>
        -->
    </ion-toolbar>
    <ion-navbar>
        <div text-center style="font-size: 1.8rem">Add a Company</div> 
    </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <form [formGroup]="APILogin">
      <ion-item>
        <ion-label color="primary">Company Name</ion-label>
        <ion-input type="text" formControlName="CompanyName" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Tara Plantation" (change)="checkIfPresent(APILogin)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary">Username</ion-label>
        <ion-input type="text" formControlName="Username" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="S.Ohara:Tara Plantation"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary">Shared Secret</ion-label>
        <ion-input type="text" formControlName="SharedSecret" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="ee9bf42adfd8f4db4c3570784e55845d"></ion-input>
      </ion-item>
    </form>

  </ion-list>

  <div class="padding">
	    <button ion-button secondary (click)="loginAPI(APILogin)">
	      <div *ngIf="!currentSuite">Get my list of report suites</div>
        <div *ngIf="currentSuite">Update my list of report suites</div>
	    </button>
    </div>

</ion-content>
